.header{
  text-align: center;
  margin-bottom: 50px;
}

.student-data {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.student-info {
  width: 33%;
  padding: 0 20px 20px;
  border: 2px solid lightslategrey;
  border-radius: 4px;
}

.student-info h3 {
  text-align: center;
  color: lightslategrey;
}

.score-board{
  background: #c5cbd1;
  padding: 5px 10px;
  border-radius: 4px;
}

.score-board .score {
  font-weight: 600;
}

.score-info {
  display: flex;
  justify-content: space-between;
}

.score-info p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}