body {
  max-width: 1000px;
  min-height: 100%;
  font-family: sans-serif;
  margin: auto;
  border-left: 5px solid lightgray;
}

h1 {
  color: tomato;
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}

header, main, footer {
  padding: 1rem 2rem;
}

main {
  margin-top: 4rem;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul a {
  color: lightgray;
}

footer nav ul a {
  color: tomato;
  text-decoration: none;
}

footer p {
  color: lightgray;
}

.text-right {
  text-align: right;
}

.text-right a {
  color: tomato;
  font-weight: 700;
  text-decoration: none;
}

article {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 4rem;
}

article time{
  color: lightgray;
}
article img {
  width: 100%;
}

article h3 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2em;
}

article .content::first-letter {
  font-size: 5em;
  padding: 20px 3px 16px;
  margin-right: 6px;
  float: left;
}

article .content {
  color: darkgray;
  font-size: 16px;
  line-height: 24px;
}